

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F9F6EE;
}

.wrapper {
    max-width: fit-content;
    /* margin-left: 175px; */
    /* margin-left: 175px; */
    position: relative;
}

/* Header */

header {
    position: relative;
    width: 100vw;
    height: 285px;
    left: 0px;
    top: 0px;
    z-index: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: auto;
}

.header-logo{
    position: relative;
    left: 171px;
    top: 26px;
}

header nav ul{
    position: absolute;
    top: 118px;
    left: 442px;
    white-space: nowrap;
    display: flex;
    list-style: none;
    gap: 52px;
}

header nav ul li a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  text-decoration: none;

  color: #000000;
}

button{
    position: absolute;
    height: 68px;
    border: none;
  
    border-radius: 56px;
  
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
    cursor: pointer;
  }
  
  .header-icon{
      position: absolute;
      left: 1489px;
      top: 118px;
  }
  
  button.signup{
      width: 191px;
      height: 68px;
      background: #FF6666;
      left: 1551px;
      top: 110px;
      color: #F9F6EE;
  }

.wrapper-aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   
}

.content-aboutus {
    display: flex;
    width: 723px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 100px
}
.content-aboutus h1
{
    color: #000;
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.content-aboutus p{
    color: #464646;
    text-align: justify;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
}

.aboutus-img{
    margin-left: 150px;
    
}

  /* Footer */

footer{
    background-color: #252424;
    position: absolute;
    top: 1500px; /* top = Jarak footer ke atas page */
    width: 100%;
    height: 369px;
}

.footer-logo{
    position: absolute;
    top: 17px;
    left: 844px;
}

footer nav ul{
    position: absolute;
    top: 118px;
    left: 651px;
    white-space: nowrap;
    display: flex;
    list-style: none;
    gap: 30px;
}

footer nav ul li a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: normal;
  text-decoration: none;

  color: #C4C1BB;
}

.social-media{
    position: absolute;
    left: 813px;
    top: 208px;
}

.copyright{
    position: absolute;
    left: 800px;
    top: 315px;

    color: #F9F6EE;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0.5;
}
